# this sets all the style options we don't set manually
BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterControlStatement: Always
ColumnLimit: 100
